#popup {
    width:100%;
    height:100%;
    opacity:.9;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color: #272926;
    overflow:auto;
    max-height: 905px;
    max-width: 815px;
}

img.closeIcon {
    position:absolute;
    right:0;
    top:0;
    cursor:pointer;
    height: 3vh;
}


form {
    padding: 10px;
    border:3px solid gray;
    border-radius:10px;
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    height: auto;
    background: #50626c;
    color: white;
}
#purchaseTable{
    max-width: 810px;
    width: auto;
}

#purchaseTable tr td {
    border: white solid 1px;
    text-align: center;
}

#purchaseCell {
    color: black;
}


#shopDiv {
    display: none;
}

div#helpDiv {
    display: none;
}

#helpMenu {
    padding: 10px;
    border:3px solid gray;
    border-radius:10px;
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    height: auto;
    background: #50626c;
    color: white;
    text-align: center;
}






.etc {
    text-align: center;
    font-size: 4vh;
    vertical-align: middle;
}

#menuTable {
    margin-top: 2vh;
    width: 90%;
}

.menuCell {
    width: 100%;
    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
    font-size: 4vh;
    vertical-align: middle;
    background-color: #cccccc;
}

.icon {
    height: 5vh;
}










body{margin:0; font-family: Verdana, Geneva, sans-serif; overflow: hidden}
iframe{margin:0;width:100%; border-left:1px solid black; border-right:1px solid black;}
p{margin:0}
table{align-self: center; height: 26vh; margin: auto;}
td{
    font-size: 2vh;
    font-weight: normal;
    /*border: 1px solid;*/
}
.statTitle {
    font-size: 2.3vh;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 1vh;
}

.statHeader {
    text-align: justify;
    width: 35%;
    font-weight: bold;
}
.statNumber {
    width: 45%;
}

.statPlus {
    background: url( 'images/plus.jpg' ) no-repeat center;
    background-size: contain;
    height: 3vh;
    width: auto;
    display: block;
}







.gameBody {
    background-color: #272926;
}

#mainBlock {
    /*border: solid black 3px;*/
    margin: 5px;
    font-size: 0;
    max-height: 900px;
    max-width: 810px;
}

.text-center {
    text-align: center;
}

.frame {
    overflow:hidden;
    height:100%;
    width:50%;

}

#menuFrame {
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    height: calc(100% - 6px);
    background-color: #50626c;
    max-width: 201px;
    max-height: 894px;

}

#mainFrame {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    height: calc(100% - 6px);
    max-width: 607px;
    max-height: 894px;
}




.attack {
    margin-top: 5vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: lightgrey;
    height: 25vh;
}

#attackButton {
    background: url( 'images/Sword.png' ) no-repeat center;
    background-size: contain;
    height: 25vh;
    width: 100%;
    font-weight: 900;
    font-size: 13vw;
}

.stats {
    border-bottom: 2px solid black;
    height: 30vh;
    width: 100%;
    font-weight: bold;
    font-size: 2vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.dungeon{
    background: url( 'images/dungeon.jpg' ) rgba(0,0,0,1);
    background-size: 100vw;
}


#stageIndicator {
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bolder;
    text-align: center;
    font-size: 3vh;
}


.enemyHPBar {
    height: 5vh;
    vertical-align: center;

}


.progress {
    height: 4.5vh;
    width: 100%

}

#enemyHP {
    font-size: 2vh;
    text-align: center;
    color: darkgreen;
    vertical-align: top;
}

#enemyBar {
    padding: .5vh 0;
    vertical-align: center;
}


.monster {
    text-align: center;

}

#monsterNameDisplay {
    font-weight: bolder;
    font-size: 10vw;
    color: crimson;
}

#monsterNameSuffix {
    font-size: 4vw;
    color: forestgreen;
}

#monsterImage {
    height: auto;
    width: 90vw;
}

.robohash {

    position: absolute;
    bottom: 0;
    right: 1vw;

    text-align: right;
    vertical-align: bottom;
    font-size: 2vh;
}